html {
    background-color: #1F2937;
}

body{
    margin: 0;
}

footer{
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-right: 55px;
}

li{
    color: #E5E7EB;
    font-size: 18px;
}


.Title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.section1{
    display: flex;
    justify-content: center;
}

.SubTextTitle {
    font-size: 18px;
    color: #E5E7EB;
}

.titleSec2{
    display: flex;
    justify-content: center;
}

.titleSec2 {
    background: linear-gradient(270deg, #13ffc2, #852151);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.section2{
    background-color: white;
}

.section3{
    background-color: #c9c3c3;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.author{
    align-self: flex-end;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin-top: 0;
}

.boxessec2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    text-align: center;
}

.section4{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxessec4{
    border: 1px;
    border-style: solid;
    border-color: #3882F6;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 750px;
    align-items: center;
    border-radius: 20px;
    font-size: 17px;
}

.button4{
    margin-left: 15px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 25px;
    height: 35px;
    width: 120px;
    font-size: 15px;
}

#Header {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 20px;
}

#section2, #section4{
    background-color: #E5E7EB;
}

#Magnus{
    width: 280px;
}

#button1{
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 25px;
    height: 35px;
    width: 120px;
    font-size: 15px;
}

#button1:hover{
    background-color: red;
}

.button4:hover{
    background-color: red;
}
